.top {
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.OPNuuOo40ceWxU28N0-x4AHaEK&pid=Api&P=0);
    background-position: cover;
  }
  
  .topLeft,
  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(244, 236, 236);
    cursor: pointer;
  }
  
  .topCenter {
    flex: 6;
    color: aliceblue;
  }
  
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10;
    list-style: none;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(101, 16, 192);
    font-size: xx-large;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topListItem:hover{
      color: rgb(230, 57, 149);
  }
  
  .topImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: rgb(242, 228, 228);
    cursor: pointer;
  }